<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <!-- 
            v-for="item in items"
            或者
            v-for="(item, index) in items"

            以上的items可以是数组或对象。
         -->

        <ul>
            <li v-for="(product, i) in products" :key="product.id">
                <div>序号：{{ i + 1 }}</div>
                <div>商品名称：{{ product.name }}</div>
                <div>商品价格：{{ product.price }}</div>
            </li>
        </ul>

        <div>
            <div>书的信息：</div>
            <div v-for="item in book">
                {{ item }}
            </div>
        </div>
    </div>

    <script src="./js/vue.js"></script>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                products: [
                    { id: 1, name: '苹果', price: 10 },
                    { id: 2, name: '香蕉', price: 20 },
                    { id: 3, name: '梨子', price: 30 },
                    { id: 4, name: '芒果', price: 40 }
                ],
                book: {
                    name: '红楼梦',
                    author: '曹雪芹',
                    dynastic: '清朝'
                }
            }
        })
    </script>
</body>

</html>